body {
    background-color: #ECF0F9;
    margin: 0;
}

#top-bar {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 1px 1px #ccc;
    width: 100%;
    height: 80px;
    z-index: 90;
    padding: 1em 4.875em;
    display: flex;
    justify-content: left;
}

.logo-bar {
    cursor: pointer;
}

.logo {
    background-image: linear-gradient(269deg,#0048ff,#0096ff), linear-gradient(#000,#000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    font-family: "Raleway";
    font-size: 32px;
    font-weight: 900;
    height: 34px;
    letter-spacing: -0.9px;
    color: rgb(0, 132, 255);
}

.logo-bar p {
    font-family: Raleway,sans-serif;
    font-size: 1em;
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    line-height: .8;
    letter-spacing: .9px;
    margin: 0;
}

#main {
    width: 1100px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
}

#main h1 {
    font-family: "Raleway";
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -0.9px;
    line-height: 69.84px;
    margin: 0px;
}

.filter {
    margin: 12px 0px;
}

.filter img {
    width: 24px;
    vertical-align: middle;
}

.filter span {
    font-family: "Raleway";
    font-size: 13.6px;
    font-weight: 600;
    vertical-align: middle;
}

.category-buttons {
    margin-bottom: 0px;
}

.category-buttons button {
    display: inline-block;
    color: rgb(0, 132, 255);
    border: 1px solid rgb(0, 132, 255);
    border-radius: 20px;
    background-color: transparent;
    font-family: "Raleway";
    font-size: 12px;
    cursor: pointer;
    min-width: 50px;
    padding: 6px 14px;
    margin: 5px;
}

#card-holder {
    display: flexbox;
    flex-direction: column;
    justify-content: space-evenly;
    width: 1100px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    padding-top: 0px;
}

.card {
    display: inline-table;
    background-color: white;
    width: 312px;
    height: 402px;
    border: 1px solid rgba(0,168,255,.3);
    border-radius: 5px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
    cursor: pointer;
    margin: 0px 20px 40px 0px;
}

.card-link {
    text-decoration: none;
    color: unset;
}

.card img {
    width: 100%;
    height: 184px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.inner-div {
    padding: 0px 24px;
    border-radius: 5px;
}

.card h3 {
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin: 6px 0px 0px 0px;
}

.author {
    font-family: 'Raleway';
    font-size: .9em;
    font-weight: 400;
    font-style: italic;
    color: #0096ff;
    margin-top: 6px;
}

.date {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}

.para {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    opacity: .5;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: .35px;
    text-align: left;
    color: #000;
    margin: .3em 0;
    white-space: pre-wrap;
}

#bottom-bar {
    background-color: #172146;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.form-error {
    color: red;
}